#root {
  width: 100%;
}

.App {
  width: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Utility classes */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
